<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DL Generator</title>
</head>
<style>
body{
    font-family: system-ui, sans-serif;
    text-align: center;
    margin: 10px;
    background: black;
    color: white;
    
}

input{
  height:20px;
  width:250px;
  margin:10px;
}

.submit{
  width:55px;
  text-align:center;
  
}
</style>
<body>
  <h1>DL GENERATOR</h1>
  <h3>By @TamilLoggers</h3>
  <form id="dlForm" action="/dl" method="POST">
    <ul>
      <li>PAGE NAME</li>
      <input class="pagename" name="pageName" placeholder="Page Name">
      <li>DL PATH:</li>
      <input class="dl_path" name="dlPath" placeholder="DL Path">
      <li>TG Link 1:</li>
      <input class="tglink1" name="tgLink1" placeholder="TG Link 1">
      <li>TG Link 2:</li>
      <input class="tglink2" name="tgLink2" placeholder="TG Link 2">
    </ul>
    <input type="submit" class="submit">
  </form>
</body>
</html>
