body{
    font-family: system-ui, sans-serif;
    text-align: center;
    margin: 10px;
    background: black;
    color: white;
    
}

input{
  height:20px;
  width:250px;
  margin:10px;
}

.submit{
  width:55px;
  text-align:center;
  
}
